@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Cormorant Unicase', serif;
  background-image: url("https://www.ppt-backgrounds.net/thumbs/black-slides-templates.jpeg");
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  color: white;
}

header nav {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav ul {
  list-style: none;
  padding: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header nav li {
  display: inline-block;
  position: relative;
  font-size: 1.4rem;
  margin: 10px 20px;
}

header nav a {
  text-decoration: none;
  color: #a8a601;
}

header nav a:hover {
  color: #fafafa;
}

header h1 {
  text-align: center;
  margin-top: 0.7rem;
}

main .p_d {
  color: black;
}

main h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .boton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main input {
  background-color: #ba945e;
  border-color: #ffffd1;
  color: white;
}

main fieldset {
  border: none;
}

main label:hover {
  border-width: 3px;
  border-color: beige;
}

main .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
}

main .acompañante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3rem;
  text-transform: uppercase;
  line-height: 45px;
}

main .tour {
  height: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main .titulo {
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 7px;
}

main .galeria {
  font-family: 'open sans';
}

main .galeria h1 {
  text-align: center;
  margin: 20px 0 15px 0;
  font-weight: 300;
}

main .linea {
  margin-bottom: 40px;
}

main .contenedor-imagenes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 3px;
}

main .contenedor-imagenes .imagen {
  width: 32%;
  position: relative;
  height: 250px;
  margin-bottom: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

main .imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

main .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(68, 68, 68, 0.781);
  width: 100%;
  height: 0;
  overflow: hidden;
  -webkit-transition: .5s ease;
  transition: .5s ease;
}

main .overlay h2 {
  color: #fff;
  font-weight: 300;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .imagen:hover .overlay {
  height: 100%;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  main .contenedor-imagenes {
    width: 95%;
  }
}

@media screen and (max-width: 700px) {
  main .contenedor-imagenes {
    width: 90%;
  }
  main .contenedor-imagenes .imagen {
    width: 48%;
  }
}

@media screen and (max-width: 450px) {
  main h1 {
    font-size: 22px;
  }
  main .contenedor-imagenes {
    width: 98%;
  }
  main .contenedor-imagenes .imagen {
    width: 80%;
  }
}

main .album:hover {
  -webkit-transform: scale(1.03, 1.03);
          transform: scale(1.03, 1.03);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
img {
  max-width: 100%;
}

main .box {
  max-width: 1824px;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  main .box {
    padding: 0 48px;
  }
}

/* New Arrivals */
.h {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 5rem;
  font-weight: 600;
}

.h h1 {
  font-weight: 400;
}

main .ac-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 80px;
  margin-bottom: 80px;
}

main .ac {
  text-align: center;
  padding-bottom: 16px;
  transition: all 500ms ease-in-out;
}

main .ac:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

main .ac .img-cover {
  overflow: hidden;
}

main .ac img {
  transition: all 500ms ease-in-out;
}

main .ac:hover img {
  transform: scale(1.2);
}

@media only screen and (max-width: 567px) {
  mainmain .h {
    font-size: 32px;
  }
}

main .ab {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 4vw);
  gap: 2rem;
}

main .ab .item {
  overflow: hidden;
}

main .ab img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms ease-out;
}

main .ab .item-1 img {
  object-fit: fill;
}

main .ab img:hover {
  transform: scale(1.2);
}

main .item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 7;
}

main .item-2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 7;
}
main .item-3 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
}

main .item-4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 5;
  grid-row-end: 9;
}

@media only screen and (max-width: 600px) {
  main .gallary {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 4vw);
  }

  main .item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
  }

  main .item-2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 7;
    grid-row-end: 11;
  }
  main .item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 11;
    grid-row-end: 15;
  }
  main .item-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 15;
    grid-row-end: 19;
  }
}

footer {
  -webkit-margin-before: 5rem;
          margin-block-start: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .rrss {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

footer h1 {
  text-align: center;
  margin-top: 5vh;
}
/*# sourceMappingURL=estilo.css.map */