*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Cormorant Unicase', serif;
    background-image: url("https://www.ppt-backgrounds.net/thumbs/black-slides-templates.jpeg");
    background-size:cover;
    background-repeat:repeat;
    background-attachment: fixed;
    color: white;
}
header{
    nav{
    background: transparent;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    ul{
        list-style: none;
        padding: 1.2rem;
        display: flex; flex-direction: row;
    }
    li{
        display: inline-block;
        position: relative;
        font-size: 1.4rem;
        margin: 10px 20px;
    }
    a{
        text-decoration: none;
        color:rgb(168, 166, 1)
    }
    a:hover{
        color:rgb(250, 250, 250);
    }
}
h1{
    text-align: center;
    margin-top: 0.7rem;
}
}
main{
    .p_d{
        color: black;
    }
    h2{
        display: flex;
    }
    .boton{
        display: flex;
    }
    input{
        background-color:#ba945e;
        border-color: rgb(255, 255, 209);
        color: rgb(255, 255, 255);
    }
    fieldset{
        border: none;
    }
    label:hover{
        border-width: 3px;
        border-color: beige;
    }
    .video{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    .acompañante{
        display: flex;
        flex-direction:column;
        align-items:center;
        margin-top: 3rem;
        text-transform: uppercase;
        line-height: 45px;
    }
    .tour{
        height: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .titulo {
        font-size: 45px;
        text-transform: uppercase;
        letter-spacing: 7px;
    }
    .galeria{
        font-family: 'open sans';
    }
    
    .galeria h1{
        text-align: center;
        margin:20px 0 15px 0;
        font-weight: 300;
    }
    
    .linea{ 
        margin-bottom: 40px;
    }
    
    .contenedor-imagenes{
        display:flex;
        width: 85%;
        margin: auto;
        justify-content: space-around;
        flex-wrap: wrap;
        border-radius:3px;
    }
    
    .contenedor-imagenes .imagen{
        width: 32%;
        position: relative;
        height:250px;
        margin-bottom:5px;
        box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .75)
    }
    .imagen img{
        width: 100%;
        height:100%;
        object-fit: cover;
    }
    
    .overlay{
        position: absolute;
        bottom: 0;
        left: 0;
        background:rgba(68, 68, 68, 0.781) ;
        width: 100%;
        height: 0;
        overflow: hidden;
        transition: .5s ease;
    }
    
    .overlay h2{
        color: #fff;
        font-weight: 300;
        font-size:30px;
        position: absolute;
        top: 50%;
        left:50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    
    .imagen:hover .overlay{
        height:100%;
        cursor: pointer;
    }
    
    @media screen and (max-width:1000px){
        .contenedor-imagenes{
            width: 95%;
        }
    }
    
    @media screen and (max-width:700px){
        .contenedor-imagenes{
            width: 90%;
        }
        .contenedor-imagenes .imagen{
            width: 48%;
        }
    }
    
    @media screen and (max-width:450px){
        h1{
            font-size:22px;
        }
        .contenedor-imagenes{
            width: 98%;
        }
        .contenedor-imagenes .imagen{
            width: 80%;
        }
    }
    .album:hover{
        transform: scale(1.03,1.03);
        transition: 0.5s;
    }
}
footer{
    margin-block-start: 5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    .botones{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .rrss{
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin-inline: 18px;
    }
    h1{
        text-align: center;
        margin-top: 5vh;
    }
}