*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Cormorant Unicase', serif;
    background-color: rgb(36, 34, 34);
    background-size:cover;
    background-repeat:repeat;
    background-attachment: fixed;
    color: white;
}
p{
    color:black;
}
nav{
    background: transparent;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
ul{
    list-style: none;
    padding: 1.2rem;
    display: flex; flex-direction: row;
}
li{
    display: inline-block;
    position: relative;
    font-size: 1.4rem;
    margin: 10px 20px;
}
a{
    text-decoration: none;
    color:rgb(168, 166, 1)
}
a:hover{
    color:rgb(255, 0, 0);
}
.logo{
    width: 150px;
    height: 85px;
}
h2{
    display: flex;
}
h3{
    display: flex;
}
.boton{
    display: flex;
}
input{
    background-color:#ba945e;
    border-color: rgb(255, 255, 209);
    color: rgb(255, 255, 255);
}
.country{
    background-color: rgb(34, 34, 34, 0.5);
    border-color: beige;
    color: bisque;
}
fieldset{
    border: none;
}
label:hover{
    border-width: 3px;
    border-color: beige;
}
.video{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.acompañante{
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-top: 4.5rem;
    text-transform: uppercase;
    line-height: 45px;
}
footer{
    margin-block-start: 5rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.rrss{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-inline-start: 10px;
}
h1{
    text-align: center;
    margin-top: 5vh;
}
.tour{
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.titulo {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.galeria img {
    box-shadow: 0 8px 10px -4px rgba(0,0,0,.6);
    border-radius: 15px;
}

.materialbox-caption {
    bottom: 30px;
    right: 0;
    width: 40%;
    height: auto;
    padding: 10px;
    margin: auto;
    background: #000;
    box-shadow: 5px 5px #fff;
    font-size: 20px;
    color: #fff;
    line-height: 28px;
}

.galeria .col {
    margin-bottom: 20px;
}

@media screen and (max-width: 600px){
    .materialbox-caption {
    width: 90%;
    }
}

@media screen and (max-width: 992px){
    .materialbox-caption {
    width: 70%;
    }
}
.opus:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
}
.infess:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
}
.meliora:hover{
    transform: scale(1.05,1.05);
    transition: 0.5s;
}
.prequelle:hover{
    transform: scale(1.07,1.07);
    transition: 0.5s;
}
.impera:hover{
    transform: scale(1.07,1.07);
    transition: 0.5s;
}